#submit-button-container {
  text-align: center;
}

#page-buttons {
  text-align: center;
}

#back-button {
  width: 130px;
  margin-right: 5px;
}

#forward-button {
  margin-left: 5px;
  width: 130px;
}

td {
  cursor: default;
}
